doctype html
html
  head
    title Socket.IO chat
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    script(src="http://104.215.198.148/socket.io/socket.io.js")
    //script(src='http://localhost/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    //link(rel='stylesheet' href='index.css')
    style
      include index.css
  
  body

    script.
      //var socket = io();
      let currentMode;
      let connectionOptions = {
        "force new connection": true,
        "reconnectionAttempts": "infinity",
        "timeout": 10000,
        "transports": ["websocket"]
      };
  
      const socket = io.connect('http://104.215.198.148', connectionOptions);
      //const socket = io.connect('http://localhost', connectionOptions);
      socket.emit("connection", { message: "I'm Browser"});
      socket.on('init', function(data){
        document.getElementById('messages').innerHTML = data.message;
      });
      socket.on('updateToBrowser', function(JSONdata){
        let stateOfPump = JSONdata.stateOfPump;
        let autoModeState = JSONdata.autoModeState;
        console.log(stateOfPump, autoModeState);

        document.getElementById("auto-state").innerHTML = autoModeState;
        if(autoModeState == "on"){
          document.getElementById("auto-state").style.color =  "#2df14f";
        } else {
          document.getElementById("auto-state").style.color =  "red";
        }

        document.getElementById("pump-state").innerHTML = stateOfPump;
        if(stateOfPump == "on"){
          document.getElementById("pump-state").style.color = "#2df14f";
        } else {
          document.getElementById("pump-state").style.color =  "red";
        }

      })

      function switchAutoModeState(state){
        socket.emit('switchAutoModeState', { state: state })
      }
      function switchPumpState(state) {
        socket.emit('switchPumpState', { state: state });
      }
    
    
    .container
      .overlay
        .message
          p#messages.text-white Connecting to server...
        .dashboard
          .mode
            .state
              p.state-name.text-white Automatic Mode:
              p#auto-state.state-align.text-white on
            .button-control
              button(class='button on text-white' type='button' onclick='switchAutoModeState("on")') TURN ON
              button(class='button off text-white' type='button' onclick='switchAutoModeState("off")') TURN OFF
          .mode
            .state
              p.state-name.text-white State Of Pump:
              p#pump-state.state-align.text-white off
            .button-control
              button(class='button on ' type='button' onclick='switchPumpState("on")') TURN ON
              button(class='button off' type='button' onclick='switchPumpState("off")') TURN OFF


